@import url(__container/popup__container.css);
@import url(_opened/popup_opened.css);
@import url(__container-cross/popup__container-cross.css);

.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}