@import url(__card/elements__card.css);
@import url(__card-image/elements__card-image.css);
@import url(__card-content/elements__card-content.css);
@import url(__card-title/elements__card-title.css);
@import url(__like/elements__like.css);

.elements {
    max-width: 882px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    margin: auto;
}