.card-add__container {
    display: flex;
    justify-content: space-around;
}

@media(max-width: 320px) {
    .card-add__container {
        flex-direction: column-reverse;
        align-items: center;
    }
}