@import url(__title/footer__title.css);

.footer {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media (max-width: 920px) {
    .footer {
        padding: 66px 20px 60px 20px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding: 48px 20px 36px 20px;
    }
}