.elements__card-title {
    margin: 0;
    color: #000;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    /*display: flex;
    align-items: center;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*padding-left: 21px;
    padding-right: 15px;*/
}